.notifications {
  position: fixed;
  right: -50px;
  bottom: 5%;
  z-index: 5;
  transition: right 0.2s ease-out;
  -webkit-transition: right 0.2s ease-out;
  -moz-transition: right 0.2s ease-out;
  -ms-transition: right 0.2s ease-out;
  -o-transition: right 0.2s ease-out;
}

.notifications.show {
  right: 5%;
}

.notifications .bubble-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 0 10px #0000005a;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  cursor: pointer;
}

.notifications .bubble-btn .tag {
  position: absolute;
  top: 0px;
  right: -10px;
  background-color: rgb(255, 80, 80);
  padding: 2px 10px;
  font-size: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: #fff;
}

.notifications .quick-message {
  position: absolute;
  right: -100vw;
  bottom: 0;
  min-width: 400px;
  min-height: 120px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 0 10px #00000023;
  background-color: #fff;
  display: flex;
  align-items: center;
  transition: right 0.1s ease-out;
  -webkit-transition: right 0.1s ease-out;
  -moz-transition: right 0.1s ease-out;
  -ms-transition: right 0.1s ease-out;
  -o-transition: right 0.1s ease-out;
  overflow: hidden;
}
.notifications .quick-message.show {
  right: calc(100% + (100vw * 0.05));
}

.notifications .quick-message figure {
  padding: 0px 15px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
}

.notifications .quick-message .info {
  border-left: 1px solid #efefef;
  flex: 1;
  font-size: 12px;
  color: #777;
  align-self: stretch;
  padding: 10px 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.notifications .quick-message .info h4 {
  font-size: 13px;
  margin-bottom: 5px;
  color: #222;
}

.notifications .notification-list {
  position: absolute;
  right: calc(100% + 20px);
  bottom: 0;
  min-width: 350px;
  min-height: 70vh;
  max-height: 450px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px #0000003a;
  overflow: hidden;
  animation: pop-fade-in 0.15s ease-out;
  -webkit-animation: pop-fade-in 0.15s ease-out;
  transform-origin: bottom right;
  transition: 0.15s ease-out;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -ms-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  /* border: 1px solid #eee; */
}
.notifications .notification-list.hide {
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}

@keyframes pop-fade-in {
  0% {
    transform: scale(0);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
}

.notifications .notification-list > header {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f9f9f9;
  background-color: #fcfcfc;
  background-color: #222;
  color: #fff;
}
.notifications .notification-list > header .tag {
  padding: 1px 10px;
  font-size: 10px;
  color: #fff;
  background-color: rgb(71, 71, 71);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-left: 10px;
}

.notification-list .content {
  min-height: calc(450px - 50px);
  max-height: calc(450px - 50px);
  overflow: auto;
  overflow-x: hidden;
}
.notification-list .content::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
.notification-list .content::-webkit-scrollbar-thumb {
  background-color: #eee;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.notifications .notification-list .item {
  padding: 10px 20px;
  border-bottom: 1px solid #fafafa;
}
.notifications .notification-list .item.unread {
  background-color: #f0f0f0;
}
.notifications .notification-list .item .actions {
  display: flex;
  align-items: center;
}

.notifications .notification-list .item .actions > :last-child {
  opacity: 0;
  margin-right: -25px;
  transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
}
.notifications .notification-list .item:hover .actions > :last-child {
  opacity: 1;
  margin-right: 0px;
}

.notifications .notification-list .item header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
